.title{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}
.subtitle{
    color: white;
    background-color: black;
    font-family: 'Times New Roman', Times, serif;
}
.img{
    width: 300px;
    height: auto;
}
.center{
    text-align: center;
    background-color: brown;
}