body{
  background-image: url(.//images/background.jpg);
}
.container {
  margin-left: 150px;
  margin-right: 150px;
  background: transparent;
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  gap: 16px;
}

.item {
  flex-grow: 1;
  flex-basis: 5px;
  
}
.item2 {
  flex-grow: 3;
  background: transparent;
}
.item img{
  height: 250px;
  width: 200px;
}
ul{
  color: black;
}
.container2 {
  margin-left: 150px;
  margin-right: 150px;
  background: transparent;
  display: flex;
  gap: 16px;
  justify-content: space-around;
}
.item3 {
  flex-grow: 1;
  flex-basis: 1000px;
  background: transparent;
}
.item4 {
  flex-grow: 1;
  flex-basis: 3500px;
  background: transparent;
  align-self: flex-start;
}
h1{
  text-align: center;
  margin: -5px;
  color: aliceblue;
  font-size: 100px;
}
h2{
  text-align: center;
  font-size: 50px;
  color: wheat;
}
p{
  text-align: center;
  font-size: 25px;
  color: aliceblue;
}
h4{
  color: wheat;
  font-size: 20px;
}
ul li{
  color: aliceblue;
}
ol li{
  color: aliceblue;
  margin: 40px;
  font-size: 17px;
  font-weight: 800;
  font-family: 'Courier New', Courier, monospace;
}
.none li{
  color: aliceblue;
  margin: 20px;
}
a{
  color: aquamarine;
  margin: 20px;
}